// @include font-face("Muller", "../fonts/MullerRegular", 400, normal);

@include font-face('Inter', '../fonts/Inter-Black', 900, normal);
@include font-face('Inter', '../fonts/Inter-ExtraBold', 800, normal);
@include font-face('Inter', '../fonts/Inter-Bold', 700, normal);
@include font-face('Inter', '../fonts/Inter-SemiBold', 600, normal);
@include font-face('Inter', '../fonts/Inter-Medium', 500, normal);
@include font-face('Inter', '../fonts/Inter-Regular', 400, normal);
@include font-face('Inter', '../fonts/Inter-Light', 300, normal);
@include font-face('Inter', '../fonts/Inter-ExtraLight', 200, normal);
@include font-face('Inter', '../fonts/Inter-Thin', 100, normal);
