:root {
  --color-black: #000000;
  --color-white: #ffffff;

  --color-gray-1: #f0f0f0;
  --color-gray-2: #e5e5e5;
  --color-gray-3: #cccccc;
  --color-gray-4: #b2b2b2;
  --color-gray-5: #999999;
  --color-gray-6: #7f7f7f;
  --color-gray-7: #666666;
  --color-gray-8: #4c4c4c;
  --color-gray-9: #333333;
  --color-gray-10: #191919;

  --color-brand-yellow: #ffcf26;
  --color-brand-orange: #ff7223;

  --color-other-blue: #3685b3;
  --color-other-green: #009e0d;
  --color-other-red: #ff3d00;
}
