.git
.gitignore
.prettierrc
node_modules
**/node_modules
npm-debug.log
.env*
*.env
!.env.production
README.md
LICENSE
.idea
**/__tests__/**
**/__mocks__/**
**/storybook-static/**
**/stories/**
*.stories.*
/client/**/*.stories.*
