.container {
  max-height: calc(85vh);
  background-color: var(--background-color);
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
}

.categoryTitle {
  overflow-wrap: break-word;
}
