# This is a sample .env file for use in local development.
# Duplicate this file as config.env in the config folder of the project
# and update the environment variables to match your desired config

# The environment to run the application in
NODE_ENV=development

# The HTTP port to run the application on
PORT=5000

# Server address
SERVER_URL=http://localhost

# Client address
CLIENT_URL=http://localhost:3000

# Address for connecting to MongoDB
MONGO_URI=

# API key for Apollo Studio
APOLLO_KEY=

# Secret string for the JWT that generates the access token
JWT_ACCESS_SECRET=

# Number of characters for the email verification code. The default is 3 numbers.
ACTIVATION_CODE_LENGTH=3

# SMTP Config to email
SMTP_HOST=smtp
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=null
SMTP_PASS=null
