.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px 15px 15px;
  color: var(--font-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 10px;

  &:hover {
    background-color: var(--hover-color);
  }

  &:active {
    color: var(--color-black);
    background-color: var(--color-brand-yellow);
    transform: scale(0.98);
  }
}

.titleContainer {
  display: flex;
  align-items: center;
}

.title {
  margin-left: 20px;
}

.iconCategory {
  width: 24px;
  height: 24px;

  path {
    stroke: var(--icon-color);
  }
}

.iconGo {
  width: 18px;
  height: 18px;

  path {
    stroke: var(--color-gray-5);
  }
}
