@import 'src/modules/styles/animations';

.container {
  width: 375px;
  margin: 50px auto;
}

.innerContainer {
  margin: 0 30px;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
