.link {
  &:hover {
    text-decoration: none;
  }
}

.title {
  max-width: 180px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.amount {
  max-width: 90px;
  white-space: nowrap;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
}

.commentary {
  max-width: 225px;
  color: var(--color-gray-5);
  line-height: 130%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  overflow: hidden;
}
