.mainHeader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3500;
  width: 100%;
  background-color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;

  a {
    display: flex;
    align-items: center;
  }
}

.logo {
  transition: filter 300ms ease-in-out;

  &:hover {
    svg {
      rect {
        animation: color-change-4x 4s linear infinite alternate both;
      }
    }
  }

  &:active {
    transform: scale(.92);
  }
}

.btnAdd {
  padding: 8px;
  transition: background-color 0.25s ease-in-out;
  border-radius: 10px;

  &:hover {
    background-color: var(--color-gray-2);
  }

  &:active {
    background-color: var(--color-brand-yellow);
    transform: scale(0.90);
  }
}

@keyframes color-change-4x {
  0% {
    fill: #ffcf26;
  }
  33.3333% {
    fill: #ff7223;
  }
  66.666% {
    fill: #009e0d;
  }
  100% {
    fill: #3685b3;
  }
}
