.mainInput {
  box-sizing: border-box;
  width: 100%;
  max-width: 315px;
  padding: 20px;
  color: var(--font-color);
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 160%;
  background-color: var(--background-color);
  outline: none;
  transition: all .3s ease-in-out;
  border: 2px solid var(--icon-color-second);
  border-radius: 10px;

  &:hover, &:focus {
    border-color: var(--color-brand-yellow);
  }

  &:active {
    border-color: var(--color-brand-yellow);
  }

  &:focus + &__label, &:not(:placeholder-shown) + &__label {
    transform: matrix(0.75, 0, 0, 0.75, 0, -35);
  }

  &__label {
    position: absolute;
    top: 0;
    right: auto;
    left: 1rem;
    margin-top: calc((70px - 1.5rem) / 2);
    padding-right: 6px;
    padding-left: 6px;
    color: var(--font-color-second);
    font-size: 18px;
    white-space: nowrap;
    background-color: var(--background-color);
    transform: translate(0, 0);
    transform-origin: left center;
    transition: .2s transform, .2s padding, .1s opacity, font-weight 0s .1s;
    user-select: none;
    pointer-events: none;
    border-radius: 10px;
  }
}

.groupInput {
  position: relative;
}

[data-theme='dark'] {
  .mainInput {
    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }
}
