.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (max-width: 370px) {
  .container {
    padding: 0 15px;
  }
}

@media screen and (max-width: 350px) {
  .container {
    padding: 5px;
  }
}

@media screen and (max-width: 329px) {
  .container {
    padding: 0;
  }
}

